export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
export HADOOP_CONF_DIR=/opt/spark/conf
export YARN_CONF_DIR=/opt/spark/conf
export SPARK_MASTER_HOST=spark-master
export SPARK_MASTER_PORT=7077
export SPARK_MASTER_WEBUI_PORT=8080
export SPARK_WORKER_CORES=2
export SPARK_WORKER_MEMORY=2g
export SPARK_WORKER_WEBUI_PORT=8081
export SPARK_DAEMON_MEMORY=512m
export SPARK_HISTORY_OPTS="-Dspark.history.fs.logDirectory={{HDFS_NAMESERVICE}}/spark-logs"